{% load slippers %}
<main id="main" data-scroll-to-top="true">
    <article>
        <header>
            <p>
                <img width="200" src="{{ talk.image.url }}">
            </p>
            <h2>{{ talk.title }}</h2>
        </header>
        <p>
            {{ talk.content }}
        </p>
        <footer>Author {{ talk.author.full_name }} - {{ talk.category.name }}</footer>
    </article>
    <p>
        {% #link text="Back" action="page" value="talks" page=1 %}{% /link %}
    </p>
</main>